body {
  background-color: white;
}

.buttons-left {
  width: 100px;
  height: 30px;
  position: fixed;
  left: 20px;
  bottom: 10px;
}

.btn {
  margin-left: 5px;
  margin-top: 5px;
  width: 10px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  border-color: red;
}

.btn-blue {
  background-color: blue;
  border-color: blue;
}

.btn-white {
  background-color: white;
  border-color: white;
}
